<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Admin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <section th:replace="~{./fragments/navbarAdmin}"></section>
    <div class="custom-card">
        <div class="font-weight-bold custom-card-header">Bienvenido Administrador</div>
        <div class="custom-card-body">
            <h5 class="font-weight-bold custom-card-title">Actualmente has iniciado sesión con el rol de Administrador.</h5>
            <p class="font-weight-normal custom-card-text">En este panel podrás realizar todas las operaciones CRUD y exportación de registros.</p>
        </div>
        <div class="font-weight-bold custom-card-footer">Ten un buen día.</div>
    </div>
    <section th:replace="~{./fragments/footer}"></section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>