<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Empleado</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body style="background-color: #f8f9fa;">
    <section th:replace="./fragments/navbarEmpleado"></section>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card border-0 shadow-lg">
                    <div class="card-header bg-danger text-white text-center">
                        <h3>Bienvenido Empleado</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-center fs-5">
                            Actualmente has iniciado sesión como Empleado.
                        </p>
                        <p class="card-text text-center fs-5">
                            En este panel podrás ver los productos.
                        </p>
                    </div>
                    <div class="card-footer bg-danger text-white text-center">
                        <h5>Ten un buen día.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <section th:replace="./fragments/footer"></section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>