<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
    <link rel="icon" href="/images/icon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
        rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" 
        crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" 
        crossorigin="anonymous">
    </script>
</head>
<body class="bg-body-secondary">
    <section th:replace="~{./fragments/navbarAdmin}"></section>
    <div class="container py-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="rounded-4 shadow p-4 border border-2"
                    th:classappend="${modo == 'registro' ? 'border-primary' : 'border-success'}">
                    <h2 th:class="${modo == 'registro' ? 'fw-bold fst-italic text-primary text-center mb-4 text-decoration-underline fs-2' : 
                                'fw-bold fst-italic text-success text-center mb-4 text-decoration-underline fs-2'}"
                        th:text="${titulo}"></h2>
                    <form th:action="@{/admin/usuarios/guardar}" method="post" class="form container" th:object="${usuario}">
                        <input type="hidden" th:field="*{idUsuario}" />
                        <div class="mb-3">
                            <label for="rolUsuario" class="fw-bold form-label">Rol del Usuario</label>
                            <select class="fw-medium form-select" id="rolUsuario" name="rolUsuario.idRol" required>
                                <option th:each="rol : ${roles}" th:value="${rol.idRol}" th:text="${rol.nombreRol}"
                                    th:selected="${rol.idRol == usuario.rolUsuario?.idRol}">Rol</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="nombreUsuario" class="fw-bold form-label">Nombre del Usuario</label>
                            <input type="text" class="text-uppercase fw-medium form-control" id="nombreUsuario" th:field="*{nombreUsuario}"
                                required autofocus>
                        </div>
                        <div class="mb-3">
                            <label for="passwordUsuario" class="fw-bold form-label">Contraseña del Usuario</label>
                            <input type="password" class="text-uppercase fw-medium form-control" id="passwordUsuario"
                                th:field="*{passwordUsuario}" required>
                        </div>
                        <div class="mb-3">
                            <label for="emailUsuario" class="fw-bold form-label">Email del Usuario</label>
                            <input type="email" class="text-uppercase fw-medium form-control" id="emailUsuario" th:field="*{emailUsuario}"
                                required>
                        </div>
                        <br>
                        <div class="d-grid gap-2">
                            <button type="submit"
                                th:class="${modo == 'registro' ? 'fs-5 fw-bold btn btn-primary' : 'fs-5 fw-bold btn btn-success'}"
                                th:text="${boton}"></button>
                            <a th:href="@{/admin/usuarios}" class="fs-5 btn btn-outline-secondary fw-bold">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <section th:replace="~{./fragments/footer}"></section>
</body>
</html>