<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
        rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" 
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" 
        crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="/css/forms.css">
</head>
<body class="bg-light">
    <section th:replace="~{./fragments/navbarAlmacen}"></section>
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="rounded-4 shadow p-4 border border-2"
                    th:classappend="${modo == 'registro' ? 'border-primary' : 'border-success'}">
                    <h2 style="text-decoration: underline; font-style: italic; font-size: 37px;"
                        th:class="${modo == 'registro' ? 'text-primary text-center mb-4' : 'text-success text-center mb-4'}"
                        th:text="${titulo}"></h2>
                    <form th:action="@{/almacen/productos/guardar}" method="post" class="form container"
                        th:object="${producto}">
                        <input type="hidden" th:field="*{idProducto}" />
                        <div class="mb-3">
                            <label for="descripcionProducto" class="form-label">Descripción del Producto</label>
                            <input type="text" class="form-control" id="descripcionProducto"
                                th:field="*{descripcionProducto}" required>
                        </div>
                        <div class="mb-3">
                            <label for="stockProducto" class="form-label">Stock del Producto:</label>
                            <input type="number" class="form-control" id="stockProducto" th:field="*{stockProducto}"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="marcaProducto" class="form-label">Marca del Producto</label>
                            <select class="form-select" id="marcaProducto" name="marcaProducto.idMarca" required>
                                <option th:each="marca : ${marcas}" th:value="${marca.idMarca}"
                                    th:text="${marca.nombreMarca}"
                                    th:selected="${marca.idMarca == producto.marcaProducto?.idMarca}">Marca</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="categoriaProducto" class="form-label">Categoria del Producto</label>
                            <select class="form-select" id="categoriaProducto" name="categoriaProducto.idCategoria"
                                required>
                                <option th:each="categoria : ${categorias}" th:value="${categoria.idCategoria}"
                                    th:text="${categoria.nombreCategoria}"
                                    th:selected="${categoria.idCategoria == producto.categoriaProducto?.idCategoria}">
                                    Categoria</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="precioVenta" class="form-label">Precio de Venta</label>
                            <input type="number" step="0.01" class="form-control" id="precioVenta"
                                th:field="*{precioVenta}" required>
                        </div>
                        <div class="mb-3">
                            <label for="rolProducto" class="form-label">Rol del Usuario</label>
                            <select class="form-select" id="rolProducto" name="rolProducto.idRol" required>
                                <option th:each="rol : ${roles}" th:if="${rol.nombreRol == 'ALMACEN'}"
                                    th:value="${rol.idRol}" th:text="${rol.nombreRol}"
                                    th:selected="${rol.idRol == producto.rolProducto?.idRol}">Rol</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="fechaProducto" class="form-label">Fecha de Ingreso</label>
                            <input type="date" class="form-control" id="fechaProducto" name="fechaProducto"
                                th:value="${producto.fechaProducto != null ? #dates.format(producto.fechaProducto, 'yyyy-MM-dd') : ''}"
                                required>
                            <div th:if="${#fields.hasErrors('fechaProducto')}" class="invalid-feedback">
                                <span th:errors="*{fechaProducto}"></span>
                            </div>
                        </div>
                        <br>
                        <div style="margin-bottom: 5px;" class="d-grid gap-2">
                            <button style="font-size: 20px;" type="submit"
                                th:class="${modo == 'registro' ? 'btn btn-primary' : 'btn btn-success'}"
                                th:text="${boton}"></button>
                            <button class="btn btn-secondary" type="reset">Limpiar</button>
                            <a th:href="@{/almacen/productos}" class="btn btn-outline-secondary">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <section th:replace="~{./fragments/footer}"></section>
</body>
</html>