<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" href="/css/marca.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>
    <section th:replace="./fragments/navbarAlmacen"></section>
    <div class="container">
        <h1 class="mt-4 mb-4" th:text="${titulo}"></h1>
        <a class="btn btn-success" th:href="@{/almacen/marcas/nuevo}">Agregar Nueva Marca</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID de la Marca</th>
                    <th>Nombre de la Marca</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="marca : ${marcas}">
                    <td th:text="${marca.idMarca}"></td>
                    <td th:text="${marca.nombreMarca}"></td>
                    <td>
                        <a class="btn btn-primary" 
                            th:href="@{/almacen/marcas/{idMarca}/editar(idMarca=${marca.idMarca})}" th:text="Editar"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <section th:replace="./fragments/footer"></section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>