<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" href="/css/producto.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>
    <section th:replace="~{./fragments/navbarEmpleado}"></section>
    <div class="container">
        <div class="d-flex justify-content-center">
            <h1 class="mt-4 mb-4" th:text="${titulo}"></h1>
        </div>
        <table class="table table-striped table-borderless">
            <thead>
                <tr class="text-center">
                    <th>ID</th>
                    <th>Descripción</th>
                    <th>Stock</th>
                    <th>Marca</th>
                    <th>Categoría</th>
                    <th>Precio Venta</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="producto : ${productos}" class="text-center">
                    <td class="align-middle" th:text="${producto.idProducto}"></td>
                    <td class="align-middle" th:text="${producto.descripcionProducto}"></td>
                    <td class="align-middle" th:text="${producto.stockProducto}"></td>
                    <td class="align-middle" th:text="${producto.nombreMarca}"></td>
                    <td class="align-middle" th:text="${producto.nombreCategoria}"></td>
                    <td class="align-middle" th:text="${producto.precioVenta}"></td>
                    <td class="align-middle" th:text="${producto.fechaProducto}"></td>                    
                </tr>
            </tbody>
        </table>             
    </div>
    <br>
    <section th:replace="~{./fragments/footer}"></section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>