<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Has iniciado como "<span th:text="${rol}"></span>"</h4>
            <p>Tus datos son:</p>
            <ul>
                <li><strong>Nombre de usuario:</strong> <span th:text="${nombreUsuario}"></span></li>
                <li><strong>Email:</strong> <span th:text="${emailUsuario}"></span></li>
            </ul>
            <hr>
            <p class="mb-0" th:text="${mensaje}"></p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>