<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
  <link 
    rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
    crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script 
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
    crossorigin="anonymous">
  </script>
  <link rel="stylesheet" href="/css/navbar.css" />
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-customn">
    <div class="container">
      <a class="navbar-brand" th:href="@{/home/almacen}">
        <img src="/images/logo.png" alt="Logo" class="d-inline-block align-top logo-img" />
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link font-weight-bold" th:href="@{/home/almacen}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold" th:href="@{/almacen/productos}">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold" th:href="@{/almacen/marcas}">Marcas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold" th:href="@{/almacen/categorias}">Categorías</a>
          </li>
        </ul>
      </div>
      <div class="text-end">
        <a th:href="@{/}">
          <button type="button" class="btn btn-light">
            <strong>Cerrar Sesión</strong>
          </button>
        </a>
      </div>
    </div>
  </nav>
</body>
</html>