<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="icon" href="images/icon.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" 
        crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/navbar.css}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" 
          integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" 
          crossorigin="anonymous">
  </script>
  <style>
    .navbar-nav .nav-link:hover {
      background-color: rgb(86, 76, 150);
      border-radius: 5px;
    }
    .logo:hover{
      transform: scale(1.1);
    }
  </style>
</head>
<body class="bg-body-secondary">
  <nav class="navbar navbar-expand-lg navbar-dark bg-custome">
    <div class="container d-flex justify-content-between">
      <div style="flex-basis: 0;" class="d-flex flex-grow-1">
        <a class="navbar-brand" th:href="@{/empleado/home}">
          <img src="/images/logo.png" alt="Logo" width="200" height="auto" class="logo d-inline-block align-text-top">
        </a>
      </div>
      <div class="d-flex justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active fs-5 fw-medium" th:href="@{/empleado/home}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fs-5 fw-medium" th:href="@{/empleado/productos}">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fs-5 fw-medium" th:href="@{/empleado/marcas}">Marcas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fs-5 fw-medium" th:href="@{/empleado/categorias}">Categorias</a>
          </li>
        </ul>
      </div>
      <div style="flex-basis: 0;" class="d-flex flex-grow-1 justify-content-end">
        <a class="btn btn-light fw-bold" th:href="@{/}">Cerrar Sesion</a>
      </div>
    </div>
  </nav>
</body>
</html>