<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="icon" href="images/icon.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" 
        crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" 
          integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" 
          crossorigin="anonymous">
  </script>
  <style>
    .navbar-nav .nav-link:hover {
      background-color: #424649;
      border-radius: 5px;
    }
    .logo:hover{
      transform: scale(1.1);
    }
  </style>
</head>
<body class="bg-body-secondary">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" th:href="@{/}">
        <img src="/images/logo.png" alt="Logo" width="200" height="auto" class="logo d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active fs-5 fw-medium" th:href="@{/}">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fs-5 fw-medium" th:href="@{/}">Marcas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fs-5 fw-medium" th:href="@{/}">Categorias</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</body>
</html>