.custom-card {
    max-width: 500px;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #5D4037;
    border-radius: 15px;
}

.custom-card-header {
    background-color: transparent;
    border-bottom: 3px solid #5D4037;
    color: #5D4037;
    padding: 10px 0;
}

.custom-card-body {
    color: #5D4037;
    padding-top: 15px;
}

.custom-card-footer {
    background-color: transparent;
    border-top: 3px solid #5D4037;
    color: #5D4037;
    padding: 10px;
}