footer.footer-content {
    background-color: transparent;
    color: #000;
    font-size: 20px;
    text-align: center;
}

footer.footer-content a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

footer.footer-content a:hover {
    color: #dc3545;
}

footer.footer-content img {
    display: inline-block;
    margin-right: 10px;
    width: 35px;
    height: 35px;
}

footer.footer-content span {
    display: inline-block;
    margin-bottom: 5px;
}

footer.footer-content span:hover {
    color: #dc3545;
}