body {
    background-color: #f8f9fa;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: SteelBlue;
    color: white;
    font-size: 24px;
    text-align: center;
}

.btn-primary {
    background-color: #3498db; 
    border-color: #3498db; 
}

.btn-primary:hover {
    background-color: #2980b9;
    border-color: #2980b9; 
}

.btn-secondary {
    background-color: #95a5a6;
    border-color: #95a5a6;
}

.btn-secondary:hover {
    background-color: #7f8c8d;
    border-color: #7f8c8d; 
}

.form-label {
    font-weight: bold;
}
.d-grid.gap-2 .btn {
    margin-bottom: 10px;
}
.btn-outline-secondary {
    color: #3498db;
    border-color: #3498db;
}
  
.btn-outline-secondary:hover {
    background-color: #3498db;
    color: #fff;
}
.card-body {
    background-color: #f8f9fa;
}    