body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}
.modal-content {
    background-color: #f8f9fa;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.modal-body {
    text-align: center;
}
.btn-danger {
    background-color: #dc3545;
    border: none;
}
.btn-danger:hover {
    background-color: #c82333;
}