nav.navbar {
    padding: 10px 0;
}
nav.navbar a.navbar-brand img {
    width: 200px;
    height: 50px;
}
nav.navbar ul.navbar-nav li.nav-item {
    list-style: none;
    margin-right: 10px;
}

nav.navbar ul.navbar-nav li.nav-item a.nav-link {
    font-size: 18px;
    color: #fff;
    transition: color 0.3s;
}
nav.navbar div.text-end button.btn.btn-light {
    font-size: 16px;
}
nav.navbar ul.navbar-nav li.nav-item a.nav-link:hover {
    color: #c2c2c2;
}
.bg-custome {
    background-color: #645aa1;
}
.bg-customn {
    background-color: #5D4037;
}
.bg-customa {
    background-color: darkgoldenrod;
}