/* Estilos para la tabla */
.table thead th {
    background-color: SteelBlue;
    color: #fff;
    vertical-align: middle;
}

.table tbody td {
    vertical-align: middle;
}

/* Estilos para los botones */
.btn-primary {
    background-color: #3498db;
    border-color: #3498db;
}

.btn-primary:hover {
    background-color: #2980b9;
    border-color: #2980b9;
}

.btn-danger {
    background-color: #e74c3c;
    border-color: #e74c3c;
}

.btn-danger:hover {
    background-color: #c0392b;
    border-color: #c0392b;
}

.btn-warning {
    background-color: #f1c40f;
    border-color: #f1c40f;
}

.btn-warning:hover {
    background-color: #f39c12;
    border-color: #f39c12; 
}

/* Estilos para las imágenes de exportación */
.btn-export {
    display: inline-block;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.3s;
}

.btn-export img {
    width: 50px;
    height: 50px;
}

/* Efecto de escala al pasar el mouse sobre las imágenes de exportación */
.btn-export:hover {
    transform: scale(1.1);
}