.table thead th {
    background-color: SteelBlue;
    color: #fff;
    vertical-align: middle;
}
.btn-primary {
    background-color: #3498db;
    border-color: #3498db;
}
.btn-primary:hover {
    background-color: #2980b9;
    border-color: #2980b9;
}
.btn-danger {
    background-color: #e74c3c;
    border-color: #e74c3c;
}
.btn-danger:hover {
    background-color: #c0392b;
    border-color: #c0392b;
}
.btn-light {
    background-color: #f1c40f;
    border-color: #f1c40f;
}
.btn-light:hover {
    background-color: #f39c12;
    border-color: #f39c12; 
}