table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color:#5D4037;
    color: white;
}

tr:nth-child(odd) {
    background-color: #ceb4ab;
}