<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Categorias</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>
    <section th:replace="./fragments/navbarEmpleado"></section>
    <div class="container">
        <h1 class="mt-4 mb-4" th:text="${titulo}"></h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID de la Categoria</th>
                    <th>Nombre de la Categoria</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="categoria : ${categorias}">
                    <td th:text="${categoria.idCategoria}"></td>
                    <td th:text="${categoria.nombreCategoria}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <section th:replace="./fragments/footer"></section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>